.header{
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  .wrapper{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    padding-top: 30px;
    padding-bottom: 30px;
    @include media-tablet-small {
      padding: 30px calc(20px + (30 - 20) * ((100vw - 320px)/(760 - 320)));
    }
  }
}

.header__hamburger{
  display: none;
  @include media-change-menu{
    display: inline-block;
  }
}
