$color-dark-m: #B2B2B2;
$color-dark-l: #545454;
$color-dark-xl: #4C4C4C;
$color-dark-3xl: #292929;
$color-dark-4xl: #000000;
$color-primary: #F1CDB3;
$color-primary-light: #FDDCC4;
$color-dark-s: #CDCDCD;
$color-light-s: #FAFAFA;
$color-light-l: #F6F6F6;
$color-light-xl: #FFFFFF;
$background-gradient-start: #513D2F;
$background-header-gradient-stop: #211F20;
$background-footer-gradient-stop: #1A1A1C;


$content-width: 1280px;
$laptop-big-width: 1180px;
$change-carousel-width: 1125px;
$change-help-list-width: 1101px;
$laptop-width: 1070px;
$laptop-small-width: 960px;
$tablet-big-width: 780px;
$tablet-width: 768px;
$change-menu-type-width: 767.8px;
$tablet-small-width: 760px;
$change-position-help-list-width: 670px;
$between-tablet-mobile-width: 480px;
$mobile-big-width: 414px;
$mobile-small-width: 320px;
